body,p,h1,h2,h3,h4,h5,h6,a{
    font-family: Barlow, Helvetica, sans-serif;
}
h2{
    font-family: Barlow;
font-size: 36px;
font-weight: 700;
line-height: 43px;
letter-spacing: 0em;
text-align: left;
}

.navBar{
    display: flex;
    justify-content: space-between !important;
    padding: 10px 32px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: transparent;
    font-weight: 700;
}
.mobile-nav-pills{
    list-style: none;
    align-items: center;
    font-size: larger !important;
    width: 100%;
    max-width: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.menu-icon{
    display: none;
}
.nav-pills{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 26px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.container{
    padding:0 20px;
}











/* media queries */
@media screen and (max-width: 992px) {
    .nav-pills{
        gap: 5px;
    }
    .navBar{
        padding: 5px 10px;
    }

}

@media screen and (max-width: 832px) {
    .nav-pills{
        gap: 5px;
    }
    .navBar{
        padding: 5px 10px;
    }
}
@media screen and (max-width: 768px) {
    .nav-pills{
        display: none;
    }
    .menu-icon{
        display: flex;
    }
    .navBar{
     align-items: center;
    }
}

@media screen and (max-width: 576px) {
    .nav-pills{
        display: none;
    }
}




